./**.ipynb_checkpoints
**.ipynb_checkpoints
**/__pycache__/**git
*.idea
**.pyc
**./phenotypic.egg-info/**
**./phenotypic.egg-info**
phenotypic.egg-info/
*.DS_Store
.vscode
conda-recipe
.DS_Store
deprecated/*
.git.backup/*
.git.backup
dist/
dist/*
phenotypic.egg-info
deprecated
.pytest_cache
./docs/build/html/*
docs/build/html/*
**.$**.bkp