/* Make the logo larger */
.navbar-brand img {
    width: 500px; /* Adjust this value to make the logo larger or smaller */
    height: 500px;
    max-height: none !important;
}

html {
    --pst-header-height: 6rem;
}

/* Increase navbar height and adjust padding */
.navbar-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Adjust logo size to fit in the larger header */
.navbar-brand img {
    max-height: 6rem !important;
}