 name: Publish to PyPI

 on:
   push:
     branches:
       - main
   pull_request:
     branches:
       - main
   workflow_dispatch:

 jobs:
   deploy:
     # Only run on the original repo, not on forks
     if: github.repository == 'Wheeldon-Lab/PhenoTypic'
     runs-on: ubuntu-latest
     environment: push_to_pypi
     steps:
       - uses: actions/checkout@v3
      
       - name: Set up Python 3.10
         uses: actions/setup-python@v4
         with:
           python-version: '3.10'
      
       - name: Verify Python version
         run: |
           python --version
      
       - name: Install system dependencies
         run: |
           sudo apt-get update

       - name: Install dependencies
         run: |
           python -m pip install --upgrade pip
           pip install build twine pytest pytest-cov
           pip install -e ".[dev]"

       - name: Check release version
         id: check_version
         run: |
           VERSION=$(pip show phenotypic | grep ^Version | awk '{print$2}')
           echo "Detected version: $VERSION"
           if [[ "$VERSION" != "dev" ]]; then
            echo "match=true" >> $GITHUB_OUTPUT
           else
            echo "match=false" >> $GITHUB_OUTPUT
           fi

       - name: Test Module
         run: |
           python -m pytest
      
       - name: Build package
         run: python -m build
      
       - name: Publish to PyPI
         if: steps.check_version.outputs.match=='true'
         env:
           TWINE_USERNAME: __token__
           TWINE_PASSWORD: ${{ secrets.PYPI_API_TOKEN }}
         run: |
          echo "phenotypic!=dev detected. Proceeding..."
          twine upload dist/*
