name: run-pytest

on:
  push:
    branches:
      - '**'
  pull_request:
    branches:
      - main
      - dev
  workflow_dispatch:

permissions:
  contents: write

jobs:
  tests:
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, macos-14, windows-latest ]
        python-version: [ "3.10", "3.11", "3.12" ]

    runs-on: ${{gray.os}}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ gray.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ gray.python-version }}

      - name: Install uv
        uses: astral-sh/setup-uv@v3
        with:
          version: "latest"

      - name: Install dependencies
        run: |
          uv lock
          uv sync --group dev 

      - name: Activate venv and run tests (Linux/macOS)
        if: runner.os != 'Windows'
        run: |
          source .venv/bin/activate
          pytest -n auto

      - name: Activate venv and run tests (Windows)
        if: runner.os == 'Windows'
        run: |
          .venv\Scripts\activate
          pytest -n auto
        shell: pwsh
